*.iml
.gradle
/local.properties
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/kotlinc.xml
/.idea/saveactions_settings.xml
/.idea/caches/
.DS_Store
/build
/captures
.externalNativeBuild